.App {
  background-image: url("./assets/discord-background.png");
  background-color: #404fed;
  background-size: 50%;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 100vh;
}
